<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><%= @recipe.title %></h2></div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><h4>Cooking Time:</h4></br></h3><%= @recipe.cooking_time%>Hrs</li>
    <li class="list-group-item"><h4>Difficulty level:</h4></br></h3><%= @recipe.difficulty_level%></li>
    <li class="list-group-item"><h4>Food Preference:</h4></br></h3><%= @recipe.food_preference.name%></li>
    <li class="list-group-item"><h4>Food Type:</h4></br></h3><%= @recipe.food_type.name%></li>
    <li class="list-group-item"><h4>Cuisine</h4></br></h3><%= @recipe.cuisine.name%></li>
  </ul>
  <div class="panel-body">
    <p><h4>Procedure: </h4></br></h3><%= @recipe.procedure%></p>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <%= link_to 'Go Back', recipes_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

