<!DOCTYPE html>
<html>
<head>
  <title>CurryNation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Curry-Nation</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Recipes", recipes_path %><span class="sr-only">(current)</span></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= form_tag recipes_path, method: "GET", class: "navbar-form navbar-left" do %>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], class: "form-control"%>
                <%= submit_tag "Search", name: "nil", class: "btn btn-default"%>
              </div>
          <%end%>
        </li>
        <% if user_signed_in? %>
        <li><%= link_to "#{current_user.email}" %></li>
        <li class="active"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li class="active"><%= link_to "SignUp",new_user_registration_path%></li>
        <%end%> 
      </ul>
    </div>
  </div> 

  <div class="container">
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Food Preferences</h2>
            </div>
            <% @food_preferences.each do |fp| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <%= fp.name%>
                </li>
              </ul>
            <% end %>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Food Type</h2>
            </div>
            <% @food_type.each do |ft| %>
              <ul class="list-group">
                <li class="list-group-item">
                <%= ft.name%>
                </li>
              </ul>
            <% end %>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Food Type</h2>
            </div>
            <% @cuisines.each do |cu| %>
              <ul class="list-group">
                <li class="list-group-item">
                <%= cu.name%>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      <%end%>
      
      <div class="col-xs-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
